
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(125, 218, 221);" >
    <div class="container-fluid">
      <img [src]="img" width="30"  heigth="30">
      <a class="navbar-brand" routerLink="/home">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>     
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/listarLibro">Libros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/prestamos">Préstamo</a>
            </li>
          </ul>
            <!--
            <li class="nav-item">
              <a class="nav-link" aria-current="page">Reservas</a>
            </li>
          
           <a class="nav-link" > libros</a>
          <a class="nav-link" href="#">Prestamo</a>
          <a class="nav-link disabled">Reserva</a> -->
        </div>
      </div>
    </div>
  </nav>