<div class="container">
    <div class="d-flex justify-content-center ">
        <div class="col-lg-6">
            <div class="shadow-lg p-3  mb-5 mt-5 bg-body rounded">
                    <div class="text-center mb-4">
                        <h1>Registro Usuario</h1>
                    </div>
                    <form [formGroup]="registrarUser" (ngSubmit)="registrar()">
                        <div class="form-group">
                            <label for="id" class=" col-form-label">Identificación Usuario</label>
                            <input formControlName="id" class="center-block" type="id" class="form-control" id="id"
                                placeholder="Ingrese su Id">

                            <span *ngIf="registrarUser.get('id')?.invalid && registrarUser.get('id')?.touched"
                                class="text-danger">
                                El <strong>Id</strong> es un campo requerido
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="nombre" class=" col-form-label">Nombre Completo</label>
                                <input formControlName="nombre" class="center-block" type="nombre" class="form-control"
                                    id="nombre" placeholder="Ingrese su Nombre">
                            <span *ngIf="registrarUser.get('nombre')?.invalid && registrarUser.get('nombre')?.touched"
                                class="text-danger">
                                El <strong>Nombre</strong> es un campo requerido
                            </span>

                        </div>
                        <div class="form-group">
                            <label for="correo" class=" col-form-label">Correo Electrónico</label>
                            
                                <input formControlName="correo" class="center-block" type="correo" class="form-control" id="correo"
                                    placeholder="E-mail">
                            
                            <span *ngIf="registrarUser.get('correo')?.invalid && registrarUser.get('correo')?.touched"
                                class="text-danger">
                                El <strong>Correo Electrónico</strong> es un campo requerido
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="contrasenia" class="col-form-label">Contraseña</label>
                            
                                <input formControlName="contrasenia" input type="password" class="form-control" id="contraseña"
                                    placeholder="Ingrese su Contraseña">
                            
                            <span *ngIf="registrarUser.get('contrasenia')?.invalid && registrarUser.get('contrasenia')?.touched"
                                class="text-danger"> La <strong>Contraseña</strong> es un campo requerido</span>
            
                        </div>
                        <div class="mt-4">
                                <div class="d-flex justify-content-between-end">
                                    <!--Crear un eventos a los botones-->
                                    <div class="col lg6">
                                        <button type="submit" [disabled]="registrarUser.invalid"
                                            class="btn btn-outline-warning">Registrar</button>
                                    </div>
                                    <div class="float-end">
                                        <button type="button" class="btn btn-outline-success" routerLink="/">Regresar</button>
                                    </div>
                                </div>
                            </div>
                    </form>

                </div>
            </div>
    </div>
</div>





