<h3 class="mt-3"> Agregar Préstamo</h3>
<br>

<form [formGroup]="agregarPrestamo" (ngSubmit)="agregar()">
    <div class="mb-3">
        <label for="id_usuario" class="form-label">Id_Usuario</label>
        <input type="text" class="form-control" id="id_usuario" placeholder="texto">
    </div>

    <div class="mb-3">
        <label for="isbn" class="form-label">ISBN</label>
        <input type="text" class="form-control" id="isbn" placeholder="texto">
    </div>

    <div class="mb-3">
        <label for="fechaPrestamo" class="form-label">Fecha Préstamo</label>
        <input type="text" class="form-control" id="fechaPrestamo" placeholder="texto">
    </div>

    <div class="mb-3">
        <label for="fechaDevolucion" class="form-label">Fecha Devolución</label>
        <input type="text" class="form-control" id="fechaDevolucion" placeholder="texto">
    </div>

    <button type="submit" class="btn btn-outline-success float-end">Agregar</button>
    <button routerLink="/prestamos" class="btn btn-outline-primary">Regresar</button>

</form>